.header .topBanner {
    background: #f9f9f9;
    padding: 50px 0;
    transition: 0.5s;
}

.header .topBanner.on {
    height: 0;
    padding: 0;
    overflow: hidden;
}

.header .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.header .topBanner h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.header .topBanner p {
    font-size: 15px;
    font-weight: 300;
}

.header .topBanner a {
    margin: 0 0 0 15px;
    padding: 3px 20px 5px 20px;
    border: 1px solid #444444;
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: 5px;
}

.header .topBanner i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
}

main h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}