.slick-track,
.slick-list {
    transition-delay: 0.03s;
}

/*  { topBanner */
.topBanner {
    background: #f9f9f9;
    padding: 50px 0;
    transition: 0.5s;
}

.topBanner.on {
    height: 0;
    padding: 0;
    overflow: hidden;
}

.topBanner .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.topBanner h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.topBanner p {
    font-size: 15px;
    font-weight: 300;
}

.topBanner a {
    margin: 0 0 0 15px;
    padding: 3px 20px 5px 20px;
    border: 1px solid #444444;
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: 5px;
}

.topBanner i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
}

/* topBanner } */
/* {header */

/* .header {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    z-index: 999;
} */
/* 슬라이드를 헤더 밑으로 넣는거 */

.header h1 {
    font-size: 0;
}

.header .inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;

    line-height: 100px;
}

.header .gnb {
    margin: 0 0 0 100px;
}

.header .gnb ul {
    display: flex;
    gap: 40px;
}

.header .gnb ul a {
    display: inline-block;
}

.header .gnb ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #444444;
    transform: translate(-20px, 0);
}

.header .right {
    margin: 0 0 0 auto;
    font-size: 20px;
}

/* main_mainSlide */

.mainVisual .mainSlide figure {
    position: relative;
    height: 600px;
}

.mainVisual .mainSlide .itm01 {
    background: url(../img/mainvisual01.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlide .itm02 {
    background: url(../img/mainvisual02.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlide .itm03 {
    background: url(../img/mainvisual03.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlide .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1200px;
}

.mainVisual .mainSlide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    background: none;
    border: none;
    font-size: 0;

    width: 100px;
    height: 100px;

    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

}

.mainVisual .mainSlide .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0 0 0 -700px;
}

.mainVisual .mainSlide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 700px;
}

.mainVisual .mainSlide .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainVisual .mainSlide .slick-dots>li {
    display: inline-block;
    width: 100px;
    height: 4px;
    background: tomato;
    margin: 0 2px;
    border-radius: 5px;
}

.mainVisual .mainSlide .slick-dots>li.slick-active {
    background: #333;
}

.mainVisual .mainSlide .slick-dots>li button {
    display: none;
}

.mainVisual .mainSlide h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 15px 0;
    text-shadow: 0 0 3px #000;
    color: #fff;
}

.mainVisual .mainSlide p {
    font-weight: 300;
    margin: 0 0 30px 0;
    text-shadow: 0 0 1px #000;
    color: #fff;
}

.mainVisual .mainSlide .inner a {
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    text-transform: uppercase;
    color: #fff;
}